body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

aside {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0985f1;
}

header {
  text-align: center;
  padding: 20px 0;
}

.brand {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: -5px;
}
.user {
  font-weight: bold;
  padding-top: 10px;
  color: white;
}
main {
  margin-left: 210px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 15px 20px;
  margin: 5px 0 5px 0;
  display: block;
  color: white;
}

nav a:hover {
  background-color: #ef1952;
}

nav .icon {
  width: 25px;
  float: left;
  padding-right: 10px;
}

.info {
  background-color: #81b2fc;
  color: #000000;
  padding: 20px;
  margin-top: 10px;
}

table {
  margin: 15px 0;
  border: 1px solid #ef1952;
  border-collapse: collapse;
  width: 90%;
}

table th {
  border: 1px solid #000000;
  padding: 8px;
  background-color: #ef1952;
}

table td {
  border: 1px solid #dcdada;
  padding: 8px;
}
.btn {
  background-color: #ef1952;
  border-radius: 4px;
  color: #ffffff;
  padding: 5px;
}
.btn:hover {
  background-color: #81b2fc;
  color: #000000;
}

footer {
  position: fixed;
  bottom: 0px;
  padding: 20px 0 20px 10px;
  background-color: #02398b;
  width: 100%;
  color: #ffffff;
}
